.Page__Footer {
  border-top: 1px solid var(--indigo6);
  padding: 1em 0;

  background-color: var(--indigo1);
}

.Page__Footer__Text {
  font-size: var(--fs-m);

  font-family: var(--ff-serif);
}

.Page__Footer__Links {
  margin-top: 1rem;

  list-style-type: none;
}

.Page__Footer__LinkWrapper {
  display: flex;
  font-size: var(--fs-m);
  margin-top: 0.5rem;
}

.Page__Footer__Link {
  letter-spacing: 1px;

  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.Page__Footer__Copy {
  display: block;
  font-size: var(--fs-xs);
  margin-top: 1rem;

  text-align: center;
}
