.Page__Footer {
  border-top: 1px solid var(--indigo6);
  padding: 1em 0;

  background-color: var(--indigo1);
}

.Page__Footer__Text {
  font-size: var(--fs-m);

  font-family: var(--ff-serif);
}

.Page__Footer__Copy {
  display: block;
  font-size: var(--fs-xs);
  margin-top: 2rem;

  text-align: center;
}

.Page__Footer__Languages {
  margin-bottom: 1rem;
}

.Page__Footer__Languages__Title {
  font-size: var(--fs-xs);
  letter-spacing: 1px;

  text-transform: uppercase;
}

.Page__Footer__Languages__Title::before {
  content: "🌍";

  margin-right: 0.25rem;
}

.Page__Footer__Languages__List {
  display: flex;
  gap: 0.5rem;
}

.Page__Footer__Languages__Language {
  font-weight: 700;
  text-transform: uppercase;
}

.Page__Footer__Languages__Language:not(:first-child)::before {
  content: "/";

  margin-right: 0.5rem;

  color: var(--yellow9);
}

.Page__Footer__Social {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.Page__Footer__Social__Link {
  align-items: center;
  border: 2px solid var(--indigo7);
  display: flex;
  font-size: var(--fs-s);
  justify-content: center;
  padding: 0.5rem;

  background-color: var(--indigo3);
  border-radius: 100%;
  color: var(--indigo11);

  transition: all ease-in 150ms;
}

.Page__Footer__Social__Link:hover {
  background-color: var(--indigo4);
  border-color: var(--indigo8);
}
