.Button {
  border: 2px solid var(--gray7);
  display: block;
  font-size: var(--fs-m);
  padding: 0.5rem 1rem;

  appearance: none;
  background-color: var(--gray3);
  border-radius: 9999px;
  color: var(--gray11);
  font-family: var(--ff-sans-serif);
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  transition: all ease-in 250ms;
}

.Button:hover {
  background-color: var(--gray4);
  border-color: var(--gray8);
}

.Button--Solid {
  background-color: var(--indigo3);
  border-color: var(--indigo7);
  color: var(--indigo11);
}

.Button--Solid:hover {
  background-color: var(--indigo4);
  border-color: var(--indigo8);
}
