.Page__ContactForm {
  display: grid;
  row-gap: 1rem;
}

.Page__ContactForm__Submit {
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' style='font-size: 24px'><text y='20'>🚀</text></svg>")
      12 12,
    auto;
}

.Page__ContactForm__Toast {
  font-size: var(--fs-s);
}
