@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/indigoDark.css";
@import "@radix-ui/colors/redDark.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/yellowDark.css";

@import "../components/Button/style.css";
@import "../components/Blockquote/style.css";
@import "../components/Code/style.css";
@import "../components/Figure/style.css";
@import "../components/Link/style.css";
@import "../components/List/style.css";
@import "../components/Text/style.css";
@import "../components/TextField/style.css";
@import "../components/Underline/style.css";

@import "../layouts/Page/style.css";
@import "../layouts/Page/components/Header/style.css";
@import "../layouts/Page/components/Heading/style.css";
@import "../layouts/Page/components/Footer/style.css";
@import "../layouts/Page/components/Subheading/style.css";
@import "../layouts/Page/components/Text/style.css";

:root {
  --c-black: #000;
  --c-white: #fff;

  --ff-serif: "IBM Plex Serif", serif;
  --ff-sans-serif: "IBM Plex Sans", sans-serif;
  --ff-monospace: "IBM Plex Mono", monospace;

  --fs-xl: 2.5rem;
  --fs-l: 1.5rem;
  --fs-m: 18px;
  --fs-s: 0.8rem;
  --fs-xs: 0.6rem;
  --fs-xxs: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: var(--fs-m);
  line-height: 1.65;
  width: 100%;

  background-color: var(--gray1);

  scroll-behavior: smooth;
}

body {
  color: var(--gray12);
  font-family: var(--ff-sans-serif);
}

@media screen and (min-width: 320px) {
  :root {
    --fs-m: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --fs-m: 24px;
  }
}
